*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  
}
body{
  max-height: 100vh;
  overflow-x: hidden;

}


/* -----CONTATO----- */

section .contactContainer{
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #fff;
  background-color: #003F63;
}
#contact-content{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.formImg img{
  width: 100%;
  padding: 40px;
  color: #FFF;

}

.sendForms{
  display: flex;
  align-items: center;
  justify-content: center;
}

#form{
  padding: 1rem;
  font-weight: bolder;
  color: #003F63;
  border-radius: 10px;
  background-color: #FFF;
  width: 70%;
}
#form input{
  display: block;
  width: 100%;
  height: 25px;
  line-height: 25px;
}

#form textarea{
  width: 100%;
  height: 60px;
  overflow-y:auto;
  padding: 3px;
}
#checkBox{
  padding: 20px 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#checkBox input{
  width: 20px;
  height: 20px;
}

#form button{
  width: 100%;
  height: 40px;
  border: 1px solid #15151578;
  border-radius: 10px;
  background-color: #F2B138;
}


@media(max-width: 800px){
  #contact-content{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #checkBox input{
    width: 50px;
    height: 50px;
  }
  #form{
    width: 90%;
  }
  
}

